

body {
 background-color: #202020; 
    display: flex;
    flex-direction: column; 
    color: white;
    font-family: monospace;
    background-image:
        linear-gradient(
            rgba(20,20,20,.1),
            rgba(20,20,20,.8) 
        ),
        url("../images/leather.png");

    background-size: cover;
    background-attachment: fixed;
}

header {
    padding: 1rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #a37217;
    padding-bottom: 5px;
}

#searchInput {
    color: whitesmoke;
    padding: .75rem;
    border: 1px solid #a37217;
    border-radius: 8rem;
    background-color: #444;
}

#searchInput::placeholder {
    color: whitesmoke;
}

#searchButton {
    max-width: 1200px;
    align-self: flex-start;
    padding: .75rem;
    border: 1px solid #a37217;
    border-radius: 8px;
    background-color: #444;
    color: whitesmoke;
}

.filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#classFilter, #levelFilter {
    color: whitesmoke;
    border: 1px solid #a37217;
   border-radius: 8px;
   background-color: #444;
}

.spell-card {
    color: black;
    background-color: #2e2e2e;
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: 8px;
        background-image:
        linear-gradient(
         rgba(204, 204, 204, 0.082),
            rgba(255, 255, 255, 0)  
        ),
        url("../images/parchment3.png");
}


.details-button {
    background-color: #444;
    align-self: flex-end;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block; 
    margin-left: auto;
}

select {
    padding: 0.5rem;
}

#errorMessage {
    display: none;
    color: black;
    background-color: pink;
    border: 1px solid red;
    border-radius: 8px;
    padding: .5rem;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

@media (max-width: 600px) {

    .filters {
        flex-direction: column;
    }
}